@media (max-width: 638px) {
    .hero {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hero div {
        align-items: center;
        text-align: justify;
    }
}