@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'gilroy-regular';
    src: url('./fonts/gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-semibold';
    src: url('./fonts/gilroy-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url('./fonts/gilroy-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 430px) {
    .sklad img {
        height: 220px;
    }
}

@media (max-width: 390px) {
    .sklad img {
        height: 190px;
    }
}